<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>
    <a href="https://oauth.vk.com/authorize?client_id=5080342&display=page&redirect_uri=https://oauth.vk.com/blank.html&scope=notify,friends,photos,audio,video,docs,notes,pages,status,offers,questions,wall,groups,notifications,stats,ads,offline&response_type=code&v=5.52">
        Открытие диалога авторизации OAuth
    </a>
</p>
<p>
    <a href="https://oauth.vk.com/access_token?client_id=5080342&client_secret=gaMQGLcOVBXwPBKGSSnD&redirect_uri=http://localhost:3000/auth_callback&code=be63e094a6c7b89285">
        Получение access_token
    </a>
</p>
<p>
    <a href="http://localhost:3000/wall_post">
        wall_post
    </a>
</p>
</body>
</html>
