<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>
    <a href="https://oauth.vk.com/authorize?client_id=5080342&display=popup&redirect_uri=http://localhost:3000/auth_callback&scope=327815&response_type=code&v=5.52">
        Открытие диалога авторизации OAuth
    </a>
</p>
<p>
    <a href="https://oauth.vk.com/access_token?client_id=5080342&client_secret=gaMQGLcOVBXwPBKGSSnD&redirect_uri=http://localhost:3000/auth_callback&code=cdf625132ca25b0df0">
        Получение access_token
    </a>
</p>
</body>
</html>
